{% load staticfiles %}
<!doctype html>
<html lang="zh-TW">

<head>
  <title>股市小幫手</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'stock/css/creative.css' %}">
</head>

<body>
  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">股市小幫手</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarResponsive" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">關於</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">服務</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">分析結果</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">聯絡我們</a>
          </li>
          <!-- <li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="signin.html">SignIn</a>
					</li> -->
        </ul>
      </div>
    </div>
  </nav>

  <header id="page-top" class="masthead text-center text-black d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto header_title">
          <h1 class="text-uppercase header_text_color">
            <strong>股市小幫手</strong>
          </h1>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-10 mx-auto header_title">
          <p class="text-faded">實用 可靠 富裕</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto header_title mt-4">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">開始導覽</a>
        </div>
      </div>
    </div>
  </header>

  <section id="about" class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-black">關於網站</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <hr class="btn-dark my-4">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="text-faded mb-4">簡單清楚的介紹</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">網站介紹</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">我們可以做什麼？</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mx-auto service-text">
            <h3 class="">股價分析</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mx-auto service-text">
            <h3 class="">獲利比較</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mx-auto service-text">
            <h3 class="">免費通知</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mx-auto service-text">
            <h3 class="">發大財</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">看更多</a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary text-black" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="">分析結果</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <hr class="my-4 btn-dark">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
          <p class="text-faded">最新的指標分析結果就在這裡！</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <a class="btn btn-dark btn-xl sr-button" href="{% url 'trading' %}">進行分析</a>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">聯絡我們</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <hr class="my-4">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="mb-5">在各個平台使用網頁來觀看我們的投資建議</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mr-auto text-center">
          <i class="fa fa-facebook-square fa-3x mb-3 sr-contact"></i>
          <p>
            <a href="">FaceBook</a>
          </p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fa fa-instagram fa-3x mb-3 sr-contact"></i>
          <p>
            <a href="">Instagram</a>
          </p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fa fa-twitter-square fa-3x mb-3 sr-contact"></i>
          <p>
            <a href="">Twitter</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'stock/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'stock/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
  <script src="{% static 'stock/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <script src="{% static 'stock/js/creative.js' %}"></script>
</body>

</html>