{% extends 'base.html' %}

{% block body %}
{{ block.super }}
{% csrf_token %}
<div class="form-row">
  <div class="form-group col-md-4">
    <label for="inputStock">股票編號</label>
    <select class="form-control" name="stock_num" id="stock_num">
      <option>請選擇...</option>
      {% for i in stock_nums %}
      <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-md-2 pt-2">
    <button id="button_submit_line_graph" type="submit" class="btn btn-primary mt-4">確定</button>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Area Chart</div>
  <div class="card-body">
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
    <div class="loader" style="display: none">Loading...</div>
    <div class="errorMessage" style="display: none">查無此代號相關資訊</div>
    <img id="line_graph" src="" alt="">
    <!--可以放 股票收盤價圖片-->
  </div>
</div>
{% endblock body %}