{% extends 'base.html' %}

{% block body %}
{{ block.super }}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">交易</a>
  </li>
  <li class="breadcrumb-item active">歷史投資模擬</li>
</ol>
<h1>歷史投資模擬</h1>
<hr>
<!-- Icon Cards-->
<div class="form-row">
  <div class="form-group col-md-2">
    <label for="inputEmail4">股票編號</label>
    <select class="form-control" name="stock_num" id="stock_num">
      <option>請選擇...</option>
      {% for i in stock_nums %}
      <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-md-2">
    <label for="inputPassword4">模擬投資金額</label>
    <select class="form-control" name="money" id="money">
      <option>50000</option>
      <option>100000</option>
      <option>150000</option>
      <option>200000</option>
    </select>
  </div>
  <div class="form-group col-md-2 pt-2">
    <button  id="button_submit_withdraw" type="submit" class="btn btn-primary mt-4">確定</button>
  </div>
</div>
<form id="" action="/withdraw/detail" method="POST" name="detail" target="_blank">
  {% csrf_token %}
  <input type='hidden' id="return_money" name="return_money" value="" />
  <input type='hidden' id="return_stock_num" name="return_stock_num" value="" />
</form>

<div class="loader" style="display: none">Loading...</div>
<div id="result" class="card my-3 " style="display: none">
  <div class="card-header">
    <i class="fa fa-table"></i> 個指標獲利率估算 <a href='javascript:document.detail.submit()'>詳細</a></div>
  <div class="card-body">
    <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>指標</th>
          <th>獲利率</th>
        </tr>
      </thead>
    </table>
  </div>
</div>


{% endblock body %}